.header {
  padding: 1.4rem 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo {
  height: 3rem;
  width: 3rem;
}

a:link,
a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* color: var(--color-light--2); */
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 3rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

a:hover,
a:active {
  background-color: #fff;
  color: #333;
}

.btn-mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
}

.btn-mobile-nav .bar {
  position: relative;
  width: 56%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.btn-mobile-nav .bar::before,
.btn-mobile-nav .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  background-color: inherit;
  border-radius: 4px;
}

.btn-mobile-nav .bar::before {
  top: -6px;
}

.btn-mobile-nav .bar::after {
  top: 6px;
}
