.header {
  position: relative;
  height: 9.6rem;
  padding: 0rem 4.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: transparent;
}

.main-logo {
  height: 5.2rem;
  display: block;
  border-radius: 50%;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-item:link,
.nav-item:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border-radius: 5rem;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s;
}

.btn-theme:hover,
.nav-git:hover,
.nav-item:hover,
.nav-item:active {
  background-color: var(--bg-color--hover);
}

.dark .btn-theme:hover,
.dark .nav-git:hover,
.dark .nav-item:hover,
.dark .nav-item:active {
  background-color: var(--bg-color--hover--dark);
}

.nav-git {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  padding: 1rem;
  border-radius: 5rem;
  transition: all 0.3s;
}

.nav-git img {
  height: 100%;
  width: 100%;
}

.btn-theme {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  background-color: transparent;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-theme img {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
}

/* ////////////////////////////////////////////////////////// */
/* Mobile Nav */
/* ////////////////////////////////////////////////////////// */
