.project {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: var(--bg-color--card);
}

.project-img {
  overflow: hidden;
}

.project-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.4s;
}

.project-img img:hover {
  transform: scale(1.1);
}

.project-content {
  flex-grow: 1;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.project-tags {
  margin-bottom: 2.4rem;
  display: flex;
  gap: 1.6rem;
}

.project-description {
  font-size: 1.6rem;
  color: var(--text-color--secondary);
  margin-bottom: 3.2rem;
}

.project-btns {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  height: 4.8rem;
  margin-top: auto;
}

.project-btn img {
  height: 2.4rem;
  width: auto;
  filter: invert(5%);
}

.project-btn:link,
.project-btn:visited {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--text-color--btn);
  background-color: var(--bg-color--btn);
  border-radius: 5rem;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s;
}

.project-btn:hover,
.project-btn:active {
  color: var(--text-color--btn--darker);
  background-color: var(--bg-color--btn--darker);
}
