/* ///////////////////////////////// */
/* BELOW 1408px (Smaller desktops) */
/* ///////////////////////////////// */

@media (max-width: 88em) {
  .container {
    max-width: 120rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 4.8rem;
  }

  .project .project-content {
    padding: 4rem;
  }

  .project-content .project-title {
    font-size: 2.4rem;
  }

  .project-tags .tag {
    height: 2.4rem;
    width: 2.4rem;
  }

  .about .about-heading {
    font-size: 4.8rem;
  }

  .about .about-content {
    column-gap: 4.8rem;
  }

  .about .about-description {
    font-size: 2rem;
    min-height: 25.2rem;
  }

  .about .about-location {
    gap: 0.8rem;
    font-size: 1.6rem;
  }

  .about .location-icon {
    height: 2.4rem;
  }
}

/* ///////////////////////////////// */
/* BELOW 1200px (Landscape Tablets) */
/* ///////////////////////////////// */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4rem;
    row-gap: 4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .header .nav {
    gap: 1.6rem;
  }

  .about .about-content {
    column-gap: 3.2rem;
  }
}

/* ///////////////////////////////// */
/* BELOW 1056px */
/* ///////////////////////////////// */

@media (max-width: 66em) {
  html {
    font-size: 50%;
  }
}
/* ///////////////////////////////// */
/* BELOW 944px (Tablets) */
/* ///////////////////////////////// */

@media (max-width: 59em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 4.8rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-primary {
    font-size: 9.8rem;
  }

  .heading-secondary {
    padding-top: 6.4rem;
  }

  .name .surname {
    font-size: 4.4rem;
  }

  .app .about {
    display: block;
  }

  .about .about-content {
    max-width: 85rem;
    grid-template-columns: 1fr;
    grid-template-rows: 45rem 1fr;
    row-gap: 3.2rem;
    padding: 6.4rem;
  }

  .about-content--portrait {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .about-content .about-img {
    height: 100%;
    width: auto;
  }

  .about .about-description {
    min-height: 0;
  }
}

/* ///////////////////////////////// */
/* BELOW 656px (Smaller Tablets) */
/* ///////////////////////////////// */

@media (max-width: 41em) {
  .heading-primary {
    font-size: 7.4rem;
  }

  .name .first-name {
    letter-spacing: 2rem;
    margin-right: -2rem;
  }

  .name .surname {
    font-size: 2.4rem;
    letter-spacing: 1rem;
  }

  .name .surname span {
    margin-right: -1rem;
  }

  .project .project-content {
    padding: 3.2rem;
  }

  .about .about-content {
    grid-template-rows: 35rem 1fr;
  }

  .about-img {
    transform: translate(8%);
  }

  .about-content--portrait:has(
      .laptop[style="opacity: 1; pointer-events: auto; visibility: visible;"]
    )
    .about-img {
    transform: translate(0);
  }
  .about-content--portrait:has(
      .shoes[style="opacity: 1; pointer-events: auto; visibility: visible;"]
    )
    .about-img {
    transform: translate(0);
  }
}

/* ///////////////////////////////// */
/* BELOW 544px (Phones) */
/* ///////////////////////////////// */

@media (max-width: 34em) {
  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .heading-primary {
    font-size: 6.2rem;
  }

  .name .surname {
    font-size: 2rem;
  }

  .about .about-content {
    grid-template-rows: 30rem 1fr;
  }
}

/* ///////////////////////////////// */
/* BELOW 416px (Smaller Phones) */
/* ///////////////////////////////// */

@media (max-width: 26em) {
  .heading-primary {
    font-size: 4.4rem;
  }

  .name .first-name {
    letter-spacing: 1.6rem;
    margin-right: -1.6rem;
  }

  .name .surname {
    font-size: 1.6rem;
    letter-spacing: 0.8rem;
  }

  .name .surname span {
    margin-right: -0.8rem;
  }

  .about .about-content {
    padding: 4.8rem;
  }

  .about .about-heading {
    font-size: 4.4rem;
    margin-bottom: 2.4rem;
  }

  .about .about-description {
    font-size: 1.8rem;
  }
}

/* ///////////////////////////////// */
/* BELOW 384px */
/* ///////////////////////////////// */

@media (max-width: 24em) {
  .about .about-content {
    padding: 3.2rem;
  }
}
